<mat-toolbar color="accent">Chat</mat-toolbar>
<mat-list>
    <app-frase nombre="javier" fecha="2019-10-31T19:17:12" texto="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia culpa error natus temporibus, cum amet perferendis voluptatem officiis, rerum aperiam dolorum commodi accusantium quisquam voluptas repellendus ex alias! Fugiat, quibusdam." mat-list-item></app-frase>
    <app-frase nombre="pepe" fecha="2019-10-31T19:20:34" texto="Pues vale." mat-list-item></app-frase>
</mat-list>
<app-nueva-frase></app-nueva-frase>
